.tile {
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  border: solid 2px;
}

.empty-tile {
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  border: solid 2px white;
}

.pawn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 2px dashed blue;
  width: 50%;
  height: 80%;
  border-radius: 50%;
  background-color: aliceblue;
}

.horizontal-line {
  display: flex;

  width: 500px;
}

.trip {
  padding: 8px;
  background: blueviolet;
  border-radius: 25%;
}

.board {
  border: solid;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
