.tile {
  width: 23%;
  height: 50px;
  background-color: black;
  text-align: center;
}

.pawn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 2px dashed blue;
  width: 50%;
  height: 80%;
  border-radius: 50%;
  background-color: aliceblue;
}

.horizontal-line {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}
